
.about-card {
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: #8e6e92;
}


.img-border-about {
    border-top: 1px solid #fcfcf785;
    border-left: 1px dashed #fcfcf785;
}