.experience-card {
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: #8d5b94;
}

.border-style-one {
    width: 45px;
    border-bottom: 1px solid #fcfcf7;
}

.border-style-two {
    border: 1px solid white;
}