@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background:white;
}

.animate-char
{
   text-transform: capitalize;
   background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #a855f7 29%,
    #8b5cf6 67%,
    #6366f1 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 25px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* styles/global.css */
.App {
  text-align: center;
}

.list-style-none {
  list-style-type: none;
}
/* button styles */

.button-gradient {
  background: rgb(182,34,195);
  background: linear-gradient(75deg, rgb(192, 55, 205) 0%, rgba(253,163,45,1) 100%);
  border: none
}

.text-gradient {
  text-transform: capitalize;
  background-image: linear-gradient(-225deg, #231557 0%, #a855f7 29%, #8b5cf6 67%, #6366f1 100%);
  background-size: 200% auto;
  background-clip: border-box;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  
}
.nav-gradient {
  text-transform: capitalize;
  background-image: linear-gradient(-225deg, #231557 0%, #a855f7 29%, #8b5cf6 67%, #6366f1 100%);
  background-size: 200% auto;
  background-clip: border-box;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.button {
  background: #fcfcf7;
  transition: color 0.3s;
}

/* CONTACT */ 
.contact-section {
  border-radius: 0;
  border: none;
  background-color: #8e6e92;
  padding: 0;
}

.form-text {
  color: #8d5b94;
}

.submit-button {
  color: white;
}

/* EXPERIENCE */
.experience-card {
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: #8d5b94;
}

.border-style-one {
  width: 45px;
  border-bottom: 1px solid grey;
}

.border-style-two {
  border: 1px solid grey;
}

/* FOOTER */    

.footer-section {
  border-radius: 0;
  border: none;
  background-color: #8d5b94;
  padding: 0;
}

@import "~@fortawesome/fontawesome-free/css/all.css";

/* INTRO */
.intro-card {
  padding: 1em;
  border-radius: 0;
  border: none;
  background-color:  #8d5b94;
  margin: 0;
}


.img-border-intro {
  border-bottom: 1px solid #fcfcf785;
  border-right: 1px dashed #fcfcf785;
  margin: 0;
}

/* NAVBAR */
.nav-styles {
  background-color: #8e5596;
  padding: 0; 
  margin: 0;
}

.nav-text {
  color: #fcfcf7;
}
.nav-text:hover{
  color:  rgba(253,163,45,1);
}

/* PROJECTS */

.project-section {
  border-radius: 0;
  border: none;
  background-color: #8d5b94;
  padding: 0;
}


.project-card {
  max-width: 15rem;
  background-color: #8d5b94;
  padding: 0;
}


/* SKILLS */  
.skills-card {
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: #8e6e92;
}

.skills-border {
  border-bottom: 1px solid white;
}
