@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'Oxygen', sans-serif;
}

/* styles/global.css */
.App {
  text-align: center;
}

.list-style-none {
  list-style-type: none;
}
/* button styles */

.button-gradient {
  background: rgb(182,34,195);
  background: linear-gradient(75deg, rgb(192, 55, 205) 0%, rgba(253,163,45,1) 100%);
  border: none
}

.text-gradient {
  background-image: linear-gradient(75deg, rgba(253, 163, 45, 1) 0%, rgb(241, 105, 253)100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  background: #fcfcf7;
  transition: color 0.3s;
}

.button:hover {
  color: #fcfcf7;
}

/* text styles */

.main-text{
  color: #fcfcf7;
}



/* misc */


.custom-shape {
  position: relative;
  width: 15%;
  left: 13%;
  height: auto;
  background-color: #f4f4f4;
  transform: rotate(-30deg);
  border-radius: 45% 95% 35% 60%;
  z-index: 1;
  background-image: linear-gradient(75deg, rgba(182, 34, 195, 1) 0%, rgba(253, 163, 45, 1) 100%);
}

.custom-shape:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.custom-shape .shape-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-shape-b {
  position: relative;
  width: 10%;
  right: 13%;
  height: auto;
  background-color: #f4f4f4;
  transform: rotate(-30deg);
  border-radius: 135% 65% 90% 185%;
  z-index: 1;
  background-image: linear-gradient(75deg, rgba(182, 34, 195, 1) 0%, rgba(253, 163, 45, 1) 100%);
}

.custom-shape-b:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.custom-shape-b .shape-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-shape-c {
  position: relative;
  width: 15%;
  right: 8%;
  height: auto;
  background-color: #f4f4f4;
  transform: rotate(-30deg);
  border-radius: 35% 65% 90% 185%;
  z-index: 1;
  background-image: linear-gradient(75deg, rgba(182, 34, 195, 1) 0%, rgba(253, 163, 45, 1) 100%);
}

.custom-shape-c:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.custom-shape-c .shape-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Muted shapes */
.custom-shape-muted {
  position: relative;
  width: 20%;
  left: 5%;
  height: auto;
  background-color: #f4f4f4;
  transform: rotate(-30deg);
  border-radius: 45% 95% 35% 60%;
  z-index: 1;
  background-image: linear-gradient(75deg, rgb(130, 43, 138) 0%, rgb(175, 111, 26) 100%);
}

.custom-shape-muted:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.custom-shape-muted .shape-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-shape-muted-b {
  position: relative;
  width: 20%;
  left: 15%;
  height: auto;
  background-color: #f4f4f4;
  transform: rotate(-30deg);
  border-radius: 45% 95% 35% 60%;
  z-index: 1;
  background-image: linear-gradient(75deg, rgb(130, 43, 138) 0%, rgb(175, 111, 26) 100%);
}

.custom-shape-muted-b:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.custom-shape-muted-b .shape-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* enlarge */
.enlarge {
  scale: none;
}

.enlarge:hover {
  scale: 1.5;
  transition: all 1s ease-out;
}

/* ABOUT */

.about-card {
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: #8e6e92;
}


.img-border-about {
  border-top: 1px solid #fcfcf785;
  border-left: 1px dashed #fcfcf785;
}

/* CERTS  */
.certs-card {
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: #8e6e92;
}

.enlarge {
  width: 55%;
  height: 55%;
  -webkit-transition-property: width, height;
  -webkit-transition-duration: 2s;
  transition-property: width, height;
  transition-duration: 2s;
}

/* CONTACT */ 
.contact-section {
  border-radius: 0;
  border: none;
  background-color: #8e6e92;
  padding: 0;
}

.form-text {
  color: #8d5b94;
}

.submit-button {
  color: white;
}

/* EXPERIENCE */
.experience-card {
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: #8d5b94;
}

.border-style-one {
  width: 45px;
  border-bottom: 1px solid #fcfcf7;
}

.border-style-two {
  border: 1px solid white;
}

/* FOOTER */    

.footer-section {
  border-radius: 0;
  border: none;
  background-color: #8d5b94;
  padding: 0;
}

@import "~@fortawesome/fontawesome-free/css/all.css";

/* INTRO */
.intro-card {
  padding: 1em;
  border-radius: 0;
  border: none;
  background-color:  #8d5b94;
  margin: 0;
}


.img-border-intro {
  border-bottom: 1px solid #fcfcf785;
  border-right: 1px dashed #fcfcf785;
  margin: 0;
}

/* NAVBAR */
.nav-styles {
  background-color: #8e5596;
  padding: 0; 
  margin: 0;
}

.nav-text {
  color: #fcfcf7;
}
.nav-text:hover{
  color:  rgba(253,163,45,1);
}

/* PROJECTS */

.project-section {
  border-radius: 0;
  border: none;
  background-color: #8d5b94;
  padding: 0;
}


.project-card {
  max-width: 15rem;
  background-color: #8d5b94;
  padding: 0;
}


/* SKILLS */  
.skills-card {
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: #8e6e92;
}

.skills-border {
  border-bottom: 1px solid white;
}
